// Estilos para el componente Whatsapp

.whatsapp {
    z-index: 10;
    width: 80px;
    position: fixed;
    top: 85%;
    bottom: 0px;
    left: 92%;
    right: 0px;
}


@media (min-width: 280px) and (max-width: 800px) {
    #whatsapp {
        width: 60px;
        top: 85%;
        left: 75%;
    }
}


