// Estilos para el componente profile

.page {
    margin: 20px;
}

.container {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
}

.jumbotron {
    background-color: #30ac8d;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}
